@CHARSET "ISO-8859-1";

.loginRegisterDiv {
	text-align: center;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	background-color: orange;
	color: white;
	padding: 15px;
	border-color: white;
	text-align: center;
    margin: 5px;
    width: 350px;

}